.App {
  padding-top: 50px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-input-form {
  width: 500px;
  height: 200px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding-top: 30px;
  margin: 30px 0px 30px 0px;
}

.main-output {
  width: 500px;
  height: 200px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin: 30px 0px 30px 0px;
}

.main-sort {
  width: 500px;
  height: 40px;
  border: 1px solid red;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-dropdown-1 {
  width: 60px;
  height: 20px;

  border: 1px solid red;
}

.main-dropdown-2 {
  width: 60px;
  height: 20px;

  border: 1px solid red;
}
